.review-container {
    max-width: 750px;
    margin: 0 auto;
}


    .cart-container{
        border-left: 2px solid #ddd;
        height: 100vh;
        position: sticky;
        top: 70px;
       
    }
